.Header {
    width:"100%";
	padding: 10;
	box-sizing: border-box;
	display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    grid-gap: 30px;
}

.LoginButtonContainer {
    grid-column: 12 / 13;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F5DFF;
    border-radius: 15px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.LoginButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.HeaderButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo {
    font-family: 'Noto Sans', sans-serif;
    font-size: 35px;
    letter-spacing: -0.02em;
    grid-column: 1 / 3;
}

