a {
    text-decoration: none;
    color: inherit;
}

.HotPostContainer {
    width: 600px;
    height: 640px;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
    display: flex;
    flex-direction: column;
}

.HotPostTitleBar {
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    background-color: #F0EDCC;
    font-size: 18px;
    color: black;
}

.HotPostTitle {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Arrow {
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HotPostEntry {
    display: flex;
    justify-content: space-between;
    height: 30px;
    border-top: solid .5px gray;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Nanum Gothic';
    font-size: 16px;
    cursor: pointer;
}

.HotPostEntryInside {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MatchRegisterButtonContainer {
    height: 100px;
    border-top: solid .5px gray;
    display: flex;
    align-items: center;
}

.MatchRegisterButton {
    height: 50px;
    width: 350px;
    border: 1px solid black;
    margin: auto;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
}

.MatchRegisterButton:hover {
    border: 2px rgb(2, 52, 63) solid;
}

.HomeButtonContainer {
    margin-top: 70px;
    margin-left: 95px;
}

.HomeButton {
    /* position: relative;
    left: 75px; */
    font-weight: 800;
    font-size: 80px;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 100px;
    letter-spacing: -0.05em;
}

.StartButton {
    background-color: #2F5DFF;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    margin-top: 40px;
    font-size: 25px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.RankingContainer {
    position: absolute;
    right: 100px;
    top: 100px;
}